<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UploadImagesServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.UploadImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImagesServlet</servlet-name>
        <url-pattern>/uploadimages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServeImageServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.ServeImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServeImageServlet</servlet-name>
        <url-pattern>/serveimages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.NewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/newuserservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.ListUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/listusersservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetHistographImagesServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.GetHistographImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHistographImagesServlet</servlet-name>
        <url-pattern>/gethistographimages</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>GetBlobStoreURLServlet</servlet-name>
        <servlet-class>com.histograph.server.controllers.GetBlobStoreURLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBlobStoreURLServlet</servlet-name>
        <url-pattern>/getblobstoreurl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PhoneImgBlobsCallback</servlet-name>
        <servlet-class>com.histograph.server.controllers.PhoneImgBlobsCallback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhoneImgBlobsCallback</servlet-name>
        <url-pattern>/phoneimgblobscallback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessNewImage</servlet-name>
        <servlet-class>com.histograph.server.controllers.ProcessNewImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessNewImage</servlet-name>
        <url-pattern>/processnewimage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>
</web-app>